@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

html {
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
    
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  .icon-btn {
    @apply text-xl text-slate-300 hover:text-primary p-2 rounded;
  }

  .input-box {
    @apply w-full text-sm bg-transparent px-5 py-3 border-[1.5px] border-slate-300 mb-4 outline-none rounded focus:outline-none focus:border-primary transition-colors;
  }

  .btn-primary {
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600 transition-colors;
  }
} 
